@import url('https://fonts.googleapis.com/css2?family=News+Cycle:wght@400;700');

@tailwind base;
@tailwind components;
@tailwind utilities;


/* Space background */
.twinkling {
    animation: move-twink-back 200s linear infinite;
}

.clouds {
    animation: move-clouds-back 200s linear infinite;
}

@keyframes move-twink-back {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -10000px 5000px;
    }
}

@keyframes move-clouds-back {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 10000px 0;
    }
}

/* Star Wars generic */
.starwars .intro {
    -webkit-animation: intro 6s ease-out 1s;
    animation: intro 6s ease-out 1s;
}

.starwars .logo {
    -webkit-animation: logo 9s ease-out 9s;
    animation: logo 9s ease-out 9s;
}

.starwars .logo svg {
    width: inherit;
}

.starwars .titles {
    transform-origin: 50% 100%;
    transform: perspective(300px) rotateX(25deg);
}

.starwars .titles>div {
    -webkit-animation: titles 81s linear 13s;
    animation: titles 81s linear 13s;
}

.starwars .titles>div>p {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

@-webkit-keyframes intro {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes intro {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-webkit-keyframes logo {
    0% {
        width: 18em;
        margin: -9em 0 0 -9em;
        transform: scale(2.75);
        opacity: 1;
    }

    50% {
        opacity: 1;
        width: 18em;
        margin: -9em 0 0 -9em;
    }

    100% {
        transform: scale(0.1);
        opacity: 0;
        width: 18em;
        margin: -9em 0 0 -9em;
    }
}

@keyframes logo {
    0% {
        width: 18em;
        margin: -9em 0 0 -9em;
        transform: scale(2.75);
        opacity: 1;
    }

    50% {
        opacity: 1;
        width: 18em;
        margin: -9em 0 0 -9em;
    }

    100% {
        transform: scale(0.1);
        opacity: 0;
        width: 18em;
        margin: -9em 0 0 -9em;
    }
}

@-webkit-keyframes titles {
    0% {
        top: 100%;
        opacity: 1;
    }

    95% {
        opacity: 1;
    }

    100% {
        top: 0%;
        opacity: 0;
    }
}

@keyframes titles {
    0% {
        top: 100%;
        opacity: 1;
    }

    95% {
        opacity: 1;
    }

    100% {
        top: 0%;
        opacity: 0;
    }
}